/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
    --white: #ffffff;
    --city-lights: #dfe4ea;
    --saturated-sky: #5352ed;
    --french-sky-blue: #70a1ff;
    --lime-soap: #7bed9f;
    --prestige-blue: #2f3542;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Makes the root font size to 10px for default browsers */
  /* scroll-padding-top: 100px; */
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--prestige-blue);
}

.site-container {
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
  margin: 0;
  word-wrap: break-word;
  color: var(--prestige-blue);
}

p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 10px 0;
  color: var(--prestige-blue);
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--prestige-blue);
}

a::after {
  color: var(--prestige-blue);
}

a:active {
  color: var(--prestige-blue);
}

img {
    width: 100%;
}

.content-container {
  padding: 0 20px;
}

.header-container {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  font-size: 20px;
}

.header__logo {
  width: 90%;
}

.hero-container {
  margin: 200px 0 100px;
}

.hero {
    width: 100%;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--saturated-sky);
}

.btn a {
  color: var(--white);
}

/* Footer */

.footer-container {
  background-color: var(--city-lights);
}

.footer {
  padding: 60px 20px;
}

.footer__logo {
  width: 150px;
}

.footer__nav {
  margin: 40px 0;
}

.footer__nav-text {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2rem;
}

/* Katalog */

/* Katalog Hero */

.hero-katalog-container {
  padding: 140px 0 70px;
  background-color: var(--prestige-blue);
}

.hero-katalog h1 {
  color: var(--city-lights);
}

/* Katalog Table */

table {
  margin: 50px auto;
  border-collapse: collapse;
  width: 90%;
  border: 1x solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

th, td {
  padding: 10px 0px 10px 6px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.thead {
  background-color: var(--lime-soap);
  color: var(--prestige-blue);
}

.tbody tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);

}


/* Media Queries Smaller tablets */

@media (min-width: 576px) {
    .header__logo {
        width: 150px;
      }

      th, td {
        padding: 12px;
      }
}

/* Media Queries bigger tablets */

@media (min-width: 768px) {
    .hero {
        display: flex;
        justify-content: space-between;
    }

    /* Footer */

    .footer {
      padding: 60px 0;
      min-height: 250px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .footer__nav-text {
      margin-bottom: 0px;
    }
}

/* Media Queries desktop */
@media (min-width: 992px) {
  .content-container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  table {
    max-width: 800px;
  }

  tr {
    transition: all .2s ease-in;
    cursor: pointer;
  }

}